<% reset_cycle %>
<table class="planner">
  <% if groups.any? %>
    <% groups.each do |group| %>
      <tr class="group open"><td>
        <span class="expander" onclick="toggleRowGroup(this);">&nbsp;</span>
        <%= link_to_group_plan_view(@project, group) %>
      </td></tr>

      <% group.users.sort.each do |user| %>
        <tr class="indent">
          <td><%= link_to_user_plan_view(@project, user) %></td>
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <tr><td>-</td></tr>
  <% end %>
</table>
