<h2>Resource Planner</h2>
This page is temporary

<h3>Admin</h3>

<%= link_to l(:label_planner_groups), project_plan_groups_path(@project) %><br/>
<%= link_to l(:label_planner_tasks), project_plan_tasks_path(@project) %><br/>

