<h2>Resource Planner</h2>
This page is temporary
<br/><br/>

<ul>
  <li><%= link_to l(:label_planner_requests), project_plan_requests_path() %></li>
</ul>

<h3>Admin</h3>

<ul>
  <li><%= link_to l(:label_planner_groups), project_plan_groups_path(@project) %></li>
  <li><%= link_to l(:label_planner_tasks), project_plan_tasks_path(@project) %></li>
</ul>

