table.planner {
  border-collapse: collapse;
}

table.planner th {
  text-align: left;
  padding-left: 2px;
}

td.center, th.center {
  text-align: center !important;
}

td.right, th.right {
  text-align: right !important;
}

label.days {
  margin-left: 0;
  text-align: left;
  width: 70px;
}

table.planner tr.indent td {
  padding-left: 20px;
}

table.planner tr.group {
  font-weight: bold;
}

ul.planner {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 30px;
}

.accordion-header.expanded {
  padding-left: 16px;
  background: url(../../../images/arrow_expanded.png) no-repeat -3px 40%;
}

.accordion-header.collapsed {
  padding-left: 16px;
  background: url(../../../images/arrow_collapsed.png) no-repeat -3px 40%;
}
.accordion-content {
  overflow: auto;
}

div.chart-graphic {
  float: left;
}

div.chart-legend-color {
  width: 20px;
  height: 20px;
  border: 1px solid white;
}

div.chart-legend {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}

.chart-legend h4 {
  margin-top: 0;
}
